<h1><%= ::Temple::Utils.escape_html((@student.name)) %>
<!-- Show student's information: -->
</h1><p>Birth Date: <%= ::Temple::Utils.escape_html((@student.birth_date.strftime("%e %B %Y") if @student.birth_date)) %></p>
<p>Age: <%= @student.age%> years</p>
<pre>Bio: <%= ::Temple::Utils.escape_html((@student.bio)) %>

<!-- links/buttons: -->
</pre><p><a href="/students">back to students index</a></p>
<p><a href="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>/edit">edit this student</a></p>
<form action="/students/<%= ::Temple::Utils.escape_html((@student.id)) %>" method="POST">
<input name="_method" type="hidden" value="DELETE" />
<input type="submit" value="delete this student" />
</form>
