<h1><%= ::Temple::Utils.escape_html((@song.title)) %>
</h1><p>Release Date: <%= ::Temple::Utils.escape_html((@song.released_on.strftime("%e %B %Y") if @song.released_on)) %></p>
<p>Length: <%= ::Temple::Utils.escape_html((@song.length/60)) %> minutes <%= ::Temple::Utils.escape_html((@song.length%60)) %> seconds</p>
<pre><%= ::Temple::Utils.escape_html((@song.lyrics)) %>
</pre><p><a href="/songs">back to songs index</a></p>
<p><a href="/songs/<%= ::Temple::Utils.escape_html((@song.id)) %>/edit">edit this song</a></p>
<form action="/songs/<%= ::Temple::Utils.escape_html((@song.id)) %>" method="POST">
<input name="_method" type="hidden" value="DELETE" />
<input type="submit" value="delete this song" />
</form>
